.moviesGrid{
    display: grid;
    grid-template-columns: repeat(var(--moviesAndCastPerColumnB), var(--moviesAndCastWidthB));
    grid-gap:var(--moviesGapB);
    margin-left:var(--marginLeftB);
    margin-top:4vh;
}

@media (max-width: 767px) {
    .moviesGrid{
        display: grid;
        grid-template-columns: repeat(var(--moviesAndCastPerColumnS), var(--moviesAndCastWidthS));
        grid-gap: var(--moviesGapS);
        margin-left: var(--marginLeftS);
        margin-top:4vh;
    }
}