.moviesGrid{
    display: grid;
    grid-template-columns: repeat(6, 14vw);
    grid-gap: 2vw;
    margin-left: 2vw;
    margin-top:4vh;
}

@media (max-width: 767px) {
    .moviesGrid{
        grid-template-columns: repeat(3, 28vw);
        grid-gap: 4vw;
        margin-left: 4vw;
    }
}