#navBar{
    display:flex;
    flex-direction:row;
    margin-left: 2vw;
    gap:2vw;
}
.navItem{
    width: 14vw;
    text-align: center;
    display: inline-block;
    font-size: 20px; 
    line-height: 1.5;
    color: #333;
    vertical-align: middle;
    padding: 2px 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none; /* Removes default dropdown arrow in some browsers */
    cursor: pointer;
    background-color: white;
}


@media (max-width: 767px) {
    #navBar{
        margin-left: 4vw;
    }
    .navItem{
        width: 23vw;
        font-size: 12px; 
    }
}
