#searchDiv{
padding:var(--searchBarPaddingB);
border-radius: var(--searchBarBorderRadiusB);
width:60%;
border:1px solid grey;
display:flex;
flex-direction:row;
justify-content:space-between;
}

#searchInput{
    padding: initial;
    font-size: initial;
    border: initial;
    border-radius: initial;
    width: calc(100% - 3.5rem);
    font-size:var(--searchBarFontSizeB);
}
#searchInput:focus{
    padding: initial;
    font-size: initial;
    border: initial;
    border-radius: initial;
    outline: none;
    width: calc(100% - 3.5rem);
    font-size:var(--searchBarFontSizeB);
}
#searchBarConatiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

@media (max-width: 767px) {
    #searchDiv{
padding:var(--searchBarPaddingS);
border-radius: var(--searchBarBorderRadiusS);
width:60%;
border:1px solid grey;
display:flex;
flex-direction:row;
justify-content:space-between;
    }
    #searchInput{
        padding: initial;
        font-size: initial;
        border: initial;
        border-radius: initial;
        outline: none;
        width: calc(100% - 3.5rem);
        font-size:var(--searchBarFontSizeS);
    }
    #searchInput:focus{
        padding: initial;
        font-size: initial;
        border: initial;
        border-radius: initial;
        outline: none;
        width: calc(100% - 3.5rem);
        font-size:var(--searchBarFontSizeS);
    }
  }